@import url('https://fonts.googleapis.com/css?family=Nunito');

$red: #dc1b27;
$link-color: $red;
$link-hover-color: darken($red, 15%);
$input-focus-border-color: $red;
$input-focus-box-shadow: none;
$input-bg: rgba(255, 255, 255, .3);
$input-focus-bg: rgba(255, 255, 255, .7);
$card-border-width: 0;
@import '~bootstrap/scss/bootstrap';

html,
body {
  min-height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

#app {
  background: radial-gradient(#fff, #aaa);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  min-height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
}

.card {
  .card-body {
    height: 100%;
  }
}

.movie-info {
  .blockquote {
    font-size: .75rem;
    text-align: justify;
  }
}

.movie-list-item {
}

.movie-grid-item {
  cursor: pointer;
  transition: transform .3s linear;

  &:hover {
    transform: scale(1.1);
  }
}

select.form-control {
  &::-webkit-scrollbar {
    display: none;
  }
}

.v-lazy-image {
  width: 207px;
  height: 311px;
  background-color: #ccc;
  filter: blur(5px);
  transition: filter .5s;
}

.v-lazy-image-loaded {
  filter: blur(0);
}
